
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(6, 133, 207);
  padding: 20px;
}

.content-wrapper {
  max-width: 800px;
  background: #fffdd0;  
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.section {
  margin-bottom: 30px;
}

.title {
  font-size: 26px;
  margin-bottom: 15px;
  color: #555;
}

.text {
  font-size: 18px;
  color: #666;
}

.values-section {
  margin-top: 30px;
}

.values-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #666;
  text-align: left;
}

.values-list li {
  margin: 10px 0;
  position: relative;
}

.values-list li::before {
  content: '•';
  color: #555;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
