
.section {
    background-color: rgb(6, 133, 207);
    color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .motto-section {
    text-align: center; /* Center align text in motto section */
    background-color: rgb(6, 133, 207);
  }
  
  .info-section {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap between vision and mission sections */
    /* background-color: rgb(6, 133, 207); */
    
  }
  
  .vision-mission {
    width: 50%;
    max-width: 500px; /* Limit width of vision and mission sections */
    background-color: rgb(6, 133, 207);
  }
  
  .values-section {
    text-align: center; /* Center align text in values section */
    background-color: rgb(6, 133, 207);
  }
  
  .values-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
  }
  
  .values-list li {
    margin: 10px 0;
  }
  