.footer {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.address, .quick-links {
  width: 45%;
}

.quick-links ul {
  list-style-type:circle;
}

.quick-links li {
  margin: 5px 0;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
}
